/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height : 60px;
}

/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    position: sticky;
}

#navbar::before{
   content: "";
   background-color: black;
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.7;
}

/* Navigation bar: Logo and Image */
#logo{
    margin: 10px 35px;
}

#logo img{
    height: 40px;
    width:50px;
    margin: 1px 8px;
}

/* Navgation bar: List styling */
#navbar ul{
    display: flex;
    font-family: 'Kanit', sans-serif;

}

#navbar ul li{
    list-style: none;
    font: 13rem;
}

#navbar ul li a{
    color: white;
    display :block;
    padding: 22px 22px;
    border-radius: 5px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white; 
}

/* Home section */
#home{
    display:flex;
    flex-direction: column;
    padding:3px 200px;
    height: 748px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background:url('../Images/Background.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

#home h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Nova Round', cursive;
}

#home p{
    color: rgb(255, 255, 255);
    text-align: center;    
    font-size: 1.5rem;
    font-family: 'Cedarville Cursive', cursive;
}

/* Shop Section */
#shop {
    margin: 34px;
    display: flex;
}

#shop .box{
    border: 5px solid rgb(52, 32, 143);
    padding: 30px;
    margin: 10px 5px;
    border-radius: 23px;
    background:rgb(219, 219, 219);
}

#shop .box img{
    height: 200px;
    margin: auto;
    display: block;
}

/* Contact Section */
#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url("../Images/Contact.png") no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#contact-box input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Nothing You Could Do', cursive;     
}

footer{
    background: black;
    color: white;
    padding: 7px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Nova Round', cursive;
    background-color: #00000067;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Nova Round', cursive;
    font-size: 2rem;
    padding: 12px;
}

.h-3{
    background-color: #00000067;
}

.btn{
    padding: 6px 20px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    margin: 150px;
    font-size: 1.5rem;
    border-radius:10px;
    cursor: pointer;
}

.center{
    text-align: center;
}